body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  background-color: #ebedef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  height: 320px;
  background-color: whitesmoke;
}
#span {
  font-size: 20px;
  margin: 30px;
  margin-bottom: 0px;
  color: #ffa100;
}
#container h2 {
  margin: 10px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 22px;
  color: #839192;
}
#container p {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 14px;
}
#container h3 {
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 1px;
  color: #839192;
}
#hehe {
  margin-top: 1px;
}
